html, body {
	
    width: 100%;
    height: 100%;
}

*{
	font-size: 18px;
}

h1, h2, h3, h4, h5{
	font-family: 'Playfair Display'!important;
	padding: 0.5em 0;
}

p, legend, li, a{
	font-family: 'Dosis', serif; 
}

.w-80{
	width: 80%;
	margin: auto;
}

@media only screen and (max-width: 600px){
  	.w-80{
		width: 95%;
	}
}

.d-none {
    display: none!important;
}


.cta-primary{
	border: 2px solid #db9639;
	color: #fff;
  	background-color: #db9639;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	text-align: center;
  	vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cta-primary:hover{
  	border: 2px solid #db9639;
  	color: #db9639;
  	background-color: transparent!important;
}

.cta-secondary{
	border: 2px solid #2C2C2C;
	color: #2C2C2C;
  	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	text-align: center;
  	vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cta-secondary:hover{
  	border: 2px solid #2C2C2C;
  	color: #fff;
  	background-color: #2C2C2C!important;
}

@media (min-width: 768px){
	.d-md-block {
	    display: block!important;
	}
	.d-none {
	    display: none!important;
	}
}

.t-left{
	text-align: left;
}

.t-right{
	text-align: right;
}

.t-center{
	text-align: center;
}



.form{
	padding: 1em;
	background: #f1f1f1;
	border-radius: 10px;

	.nav-tabs{
		.nav-item{
			.active {
			    font-weight:bold;
			    border-color: transparent;
    			color: #495057;
    			background-color: transparent; 
				border-color: transparent;
				font-size: 1.15em;
			}
			a{
				color: #495057;
				font-size: 0.85em;
			}
		}
	}
	

	form{
	    border-radius: 10px;
	    margin-top: 1em;
	     
	    label{
			font-weight: bold;
		}

		p{
			margin: 0px!important;
		}

		input{
			display: block;
		    width: 100%;
		    padding: .375rem .75rem;
		    font-size: 1rem;
		    line-height: 1.5;
		    color: #495057;
		    background-color: #fff;
		    background-clip: padding-box;
		    border: 1px solid #ced4da;
		    border-radius: .25rem;
		    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		}

		textarea{
			display: block;
		    width: 100%;
		    padding: .375rem .75rem;
		    font-size: 1rem;
		    line-height: 1.5;
		    color: #495057;
		    background-color: #fff;
		    background-clip: padding-box;
		    border: 1px solid #ced4da;
		    border-radius: .25rem;
		    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		    overflow: auto;
		    resize: vertical;
		}

		button{
			margin-top: 1em;
		}
	}
}

label[required=required]:after { 
   content:"*";
   color:red;
}

.search-form{
	label{
		margin-top: 1em;
	}
}


.book-card{
	background-color: #f1f1f1;
    padding: 1em;
    border-radius: 10px;
    margin: 0.5em;
}

.header{
	padding: 1em;

	img{
		width: 50px;
	}
}

.home-login{

    max-height: 80vh;
    min-height:auto;

	.home-container{
	    padding: 1em;
		margin: 2em auto;

		img{
			width: 100%;
		}
	}
}


footer{
	p{
		text-align: center;
	}
}
